* {
  text-align: center;
  font-family: 'Helvetica'
}

p.res {
  padding-top: 50px;
  padding-bottom: 0px;
  font-size: 0px;
}

p.cns {
  color: gray;
}

p.link {
  padding-top: 0px;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }